*{
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#0f172a;
  color:white;
  display:flex;
  justify-content:center;
  padding:20px;
}

.app{
  width:100%;
  max-width:500px;
  background:#020617;
  padding:20px;
  border-radius:12px;
  box-shadow:0 0 20px rgba(0,0,0,.5);
}

h2{
  text-align:center;
  margin-bottom:15px;
}

input[type=file],
input[type=text]{
  width:100%;
  padding:10px;
  border-radius:8px;
  border:none;
  margin-bottom:10px;
}

button{
  padding:8px 12px;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

.reset-btn{
  width:100%;
  background:#dc2626;
  color:white;
  margin-bottom:10px;
}

ul{
  list-style:none;
  padding:0;
  margin-top:10px;
}

li{
  background:#111827;
  padding:10px;
  margin-bottom:8px;
  border-radius:8px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

li span{
  cursor:pointer;
  flex:1;
}

.delete-btn{
  background:#ef4444;
  color:white;
  font-size:12px;
}

.note{
  font-size:12px;
  opacity:.7;
  text-align:center;
  margin-top:10px;
}
